{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">
<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}

<!-- Google Search Console Authentication -->
<meta name="google-site-verification" content="OPgT6WUuO62RhCLQXSqizi7I3dez5KPI59ZYyb6wERU" />

<!-- Additional SEO Optimization -->
<meta name="robots" content="index, follow, max-image-preview:large" />
<meta name="googlebot" content="index, follow" />

<!-- Open Graph Optimization -->
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Geon's Tech Journey" />
